@charset "utf-8";
/* CSS Document */

#home .headerimage img{

			height:120px;
			width:1000px;
			/*text-align:center;
			float:inherit;*/
			/*left:500px;*/
			
margin-top:10px;

margin-right:50px;
margin-left:180px;
			}

#notes a{
height:500;
width:555;
}

#notes li{
width:222;
} 			
#home
{
 background:url(../images/woodfloor.jpg);
 }
 .wrap
 {
 
	
	height:990px;
	background:url(../images/diary.jpg)  center 194px ;
	background-repeat:repeat-y;
	
	
	
 }
/* sticky notes h2 h1 p li ui uo a */ 
#home.wrap.notes 
{
position:relative;
left:80px;
}
.notes h2{
  font-size:100%;
  font-weight:normal;
}
.notes ul,.notes li{
  list-style:none;
}
.notes ul{
  overflow:hidden;
  padding-top:1em;

padding-right:100px;
padding-left:200px;
pedding-bottom:1em;
}
.notes ul li a{

  position:relative;
top:-25px;
  text-decoration:none;
  color:#000000;
  background:#66FF33;
  display:block;
  height:4em;
  width:4em;
  padding:01em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 10px 10px 10px #000010;
  box-shadow: 10px 0px 5px #000000;
  -webkit-transition: background 900ms ease;
  -moz-transition: background 900ms ease;
  -o-transition: background 900ms ease;
   transition: background 900ms ease;
}
.notes ul li{
  margin:35px;
  float:left;
}
.notes ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:30px;
  position:relative;
  top:5px;
  font-family:cursive, Modern;
 
 
}

.notes ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
  position:relative;
  top:-45px;
}
.notes ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:-25px;
  background:#CC33FF;
}
.notes ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-45px;
   background:#66FF33;
}
.notes ul li:nth-child(5n) a{
-webkit-transform:skew(3deg);
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-45px;
   background:#66FF33;
}
.notes ul li:nth-child(6n) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:-25px;
  background:#CC33FF;
}
.notes ul li a:hover,.notes ul li a:focus {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.notes li img
{
height:68px;
width:68px;
align:center;
}

.login
{
font-size:64px;
position:relative;
top:100x;
left:950px;
width:275px;height:160px;
display:block;
background:#66CCFF;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;

}
.login p1,.login p2
{
width:100%;top:55px;font-family:Arial, Helvetica, sans-serif;color:#FF33CC; margin:20px;margin-top:10px;
margin-bottom:10px;
margin-right:50px;
margin-left:50px;
font-weight: bold; 
}


button{border:0;width:70px;height:23px;text-align:center;display:block;position:absolute;font-weight:bold;color:#FFFFFF;cursor:pointer;text-transform:uppercase;font-size:1em;
padding:2px
0 4px 0;left:75px;top:100px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
background-color:#666666;
}



.text
{

background-color:#FFFFFF;
height:20px;
width:200px;
margin-left:20px;
z-index:inherit;
border: solid 1px #E5E5E5;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}

 input:hover, 
input:focus { 
	border-color:#FF0033; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}
.checkbox
{
position:relative;
top:75px;
left:-220px;
}
.login a
{
position:relative;
top:50px;
left:50px;
font-size:64px;
color:#FF66FF;
}

remember
{
position:relative;
top:53px;
left:25px;
color:#663333;
}


.search
{
background:#66CCFF;
border:thin;
position:relative;
top:10px;
left:950px;
width:275px;height:50px;
display:block;

-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;

}

.search button
{
border:0;width:80px;height:23px;text-align:center;display:block;position:absolute;font-weight:bold;color:#fff;cursor:pointer;text-transform:uppercase;font-size:1em;
padding:2px
0 4px 0;left:190px;top:10px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
}
.search .searchinput
{
border:#00FF66;
background-color:#FFFFFF;
height:20px;
width:170px;
margin-left:15px;
margin-top:10px;
z-index:inherit;


}

.quicklinks
{

border:thick;
height:auto;
width:275px;
position:relative;
top:10px;
left:950px;

}

.quicklinks h1
{
color:#0033CC;
font:larger;
font-family:"Courier New", Courier, monospace;
margin-left:20px;

}
.quicklinks ul li a
{
text-decoration:none;
}
.quicklinks ul li p1
{

font-size:25px;
color:#FF33CC;
margin:10px;
font-family:Geneva, Arial, Helvetica, sans-serif;

}
.quicklinks ul li
{
margin:10px;
}

.quicklinks a:hover{
rgba(9,11,13,0.9);
}

.content{
	font-size:16px;
background:#9999CC;
position:absolute;
top:350px;
left:200px;
height:615px;
width:700px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomright: 25px;
-moz-border-radius-bottomleft: 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border-radius: 25px 25px 25px 25px;

}


.content img
{
position:relative;
left:20px;
top:20px;
height:80px;
width:80px;

}

.content h2
{
font-size:24px;
position:relative;
top:-20px;
left:150px;

}
.content h1
{
font-size:24px;
position:relative;
top:-10px;
left:280px;

}

.content img
{
	position:relative;
	top:-50px;
	left:570px;
	height:40px;
	}

.content p
{
position:relative;
top:2px;
text-indent:20px;
text-align:left;
color:#6600CC;
font-size:28px;

}

.entry p{
	position:relative;
top:2px;
text-indent:20px;
text-align:left;
color:#6600CC;
font-size:24px;
}
/*.para4:hover{
background-color:#00FF00;

}

.para1:hover{
background-color:#00FF00;
}

.para2:hover{
background-color:#00FFFF;
}

.para3:hover{
background-color:#00FFFF;
}*/

.footer{
font-family:inherit;
font-size:18px;
height:100px;
}
.footercontent {
position:relative;
width:auto;
text-align:center;
margin-left:20px;
overflow:auto;
bottom:10px;
top:50px;
}
.footercontent h4{
font-size:14px;
font-weight:bold;
text-transform:uppercase;
}

.footercontent ul{
position:relative;
font-weight:bold;
left:300px;
float:left;
margin-right:10px;
margin-top:5px;
}
.footercontent li,a{
font-weight:bold;
}


.footer.footercontent p{
padding-left:50px;
align:center;
}

.footer h3
{
position:relative;
top:-80px;
}
.footer img{
position:relative;
left:50px;
height:120px;}

#side-bar {
position:relative;
top:-600px;
float:left;
margin-right:10px;
}
#box{
position:relative;
left:0px;
border:5px solid #FFFFFF;
padding:10 5px;
background-color: #000000;
border-right:5px solid #FFFFFF;
}
#box div{
margin-top:10px; 
padding-bottom:10px;
border-bottom: 1px dashed #bbb;
width:70px;
height:96px;
text-align:center!important;

}
#box div.n{
border-bottom:none;
height:60px;
}
#box div.tweet{
height:60px;}

.count
{
display:block;
height:30px;
width:100px;
position:relative;
font-size:xx-large;
left:10px;
top:-600px;

font-style:oblique;
color:#3300FF;}